@font-face {
  font-family: "iconfont"; /* Project id 3061749 */
  src: url('iconfont.woff2?t=1640350894944') format('woff2'),
       url('iconfont.woff?t=1640350894944') format('woff'),
       url('iconfont.ttf?t=1640350894944') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6b8";
}

.icon-custom-user:before {
  content: "\e632";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-exit:before {
  content: "\e650";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-xiazai:before {
  content: "\e61a";
}

.icon-comment:before {
  content: "\e63b";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-16:before {
  content: "\e615";
}

.icon-tubiaofenxi:before {
  content: "\e6ac";
}

.icon-xiaoqu:before {
  content: "\e68e";
}

