@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2?t=1640350894944") format("woff2"), url("../fonts/iconfont.woff?t=1640350894944") format("woff"), url("../fonts/iconfont.ttf?t=1640350894944") format("truetype");
}

.show {
  display: block;
}

.hide {
  display: none;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-box {
  padding-bottom: 5px !important;
}

.header-box ul {
  padding-top: 5px;
}

.logo-box {
  background-color: #23262e !important;
}

.left-box:nth-child(1) li {
  position: relative;
}

.left-box:nth-child(1) li i {
  position: absolute;
  top: 0px;
  left: 15px;
}

.left-box:nth-child(1) li a {
  padding-left: 30px;
}

.footer {
  text-align: center;
  font-size: 12px;
}

iframe {
  width: 100%;
  height: 100%;
}

.layui-body {
  overflow: hidden;
}

.layui-body::-webkit-scrollbar {
  display: none;
}

a {
  transition: none !important;
}

.left-content li:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.text-avatar {
  display: inline-block;
  text-align: center;
  width: 30px !important;
  height: 30px !important;
  background-color: #009688;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 5px;
  margin-left: -6px;
  user-select: none;
}

.userinfoBox {
  height: 60px;
}

.userinfoBox span {
  font-size: 16px !important;
  user-select: none;
}
