* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // height: 100vh;
    padding: 15px;
    // margin: 0 auto;
    position: relative;
    background-color: #f2f3f5;
}


.card-body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-label {
    width: 100px;
}